{% extends "base.html" %}

{% block content %}

    {{ blog.render() | safe }}

    {% for c in comments %}

        {{ c.render() | safe }}

    {% endfor %}

    <hr>

    <form method="post">

        <div class="form-group">
            <label for="comment">Create a comment</label>
            <textarea class="form-control" rows="2" id="comment" name="comment">{{comment}}</textarea>
        </div>

        {% if error_comment %}
            <p class="bg-danger">{{error_comment}}</p>
        {% endif %}

        <button type="submit" class="btn btn-default">Submit</button>

    </form>

{% endblock %}