{% extends "base.html" %}

{% block content %}

    <h1>{{page_title}}</h1>

    <form method="post">

        <fieldset {% if disable %}disabled{% endif %}>
            <div class="form-group">
                <label for="title">Blog Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Blog title" value="{{title}}">
            </div>
            <div class="form-group">
                <label for="post">Blog text</label>
                <textarea class="form-control" rows="10" id="post" name="post">{{post}}</textarea>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </fieldset>

    </form>

{% endblock %}